article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

/********
COLOURS:
Navy:     #1D2E3E ;
Red:     #F30A0A ;
black:     #222222 ;

FONTS:
BODY FONT: 
font-family: 'Cutive Mono';

HEADER FONT:
font-family: 'Oswald', sans-serif;
************/
html {
  font-size: 62.5%;
}

.yellow {
  color: yellow;
  background: purple;
}

h1 {
  font-size: 4rem;
  margin: 0 auto;
  color: white;
}

h2 {
  font-size: 1.6rem;
  color: black;
  margin-top: 0;
}

h3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

h4 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 01rem;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/fartz.jpg);
  background-color: rgba(29, 46, 62, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
}

div.wrapper {
  width: 88%;
  margin: 0 auto;
}

div.character {
  border: 5px solid white;
  height: 246px;
  width: 246px;
  margin: 0 auto;
  cursor: pointer;
}

img {
  /*height: 10px;*/
  width: 100%;
}

/*.character{
	background-size: 200%;
}*/
.doctorStrange {
  background: url(../assets/drstrange.jpg) center;
  background-size: 200%;
}

.spiderMan {
  background: url(../assets/spiderman.jpg) center;
  background-size: 200%;
}

.thanos {
  background: url(../assets/thanos.jpg) center;
  background-size: 200%;
}

.blackPanther {
  background: url(../assets/lukeCage.jpg) center;
  background-size: 200%;
}

.lukeCage {
  background: url(../assets/blackPanther.jpg) center;
  background-size: 200%;
}

.jessicaJones {
  background: url(../assets/jessicaJones.jpg) center;
  background-size: 120%;
}

.ironFist {
  background: url(../assets/ironfist.jpg) center;
  background-size: 200%;
}

.inhumans {
  background: url(../assets/inhumans.jpg) center;
  background-size: 120%;
}

.comicCharacters1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 20px;
  position: relative;
}

.overlay1 {
  margin-top: 5px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0px;
  height: 237px;
  width: 235px;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.overlay1:hover{
  opacity:1;
}

.overlay1 h2 {
  color: white;
  padding-top: 80px;
  padding-left: 30px;
  text-align: center;
  width: 200px;
  font-family: 'Oswald', sans-serif;
}

.overlay1 img{
  padding-bottom: 2px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.comicCharacters2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 70px;
  position: relative;
}

.overlay2 {
  margin-top: 5px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0px;
  height: 237px;
  width: 235px;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.overlay2:hover{
  opacity:1;
}

.overlay2 h2 {
  color: white;
  padding-top: 80px;
  padding-left: 30px;
  text-align: center;
  width: 200px;
  font-family: 'Oswald', sans-serif;
}

.overlay2 img{
  padding-bottom: 2px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.characterCard {
  position: fixed;
  margin: 100px auto;
  border-radius: 3px;
  width: 50%;
  background: pink;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  color: white;
}

.hide{
  display:none;
}

/***************
MODAL
***************/

.modal {
  position: fixed;
  bottom:1%;
  left:12%;
  z-index: 1000;
  background-color: #1D2E3E;
  border: 6px ridge #F30A0A;
  width: 70%;
  margin: 0 auto;
}

/***********
FLICKITY IMAGES
**************/
img {
  width: 140px;
}

.gallery img {
  margin: 0 5px;
}
/***********
END OF FLICKITY IMAGES
**************/

.fa-times-circle {
  font-size:4rem;
  color:lightgrey;
  position:absolute;
  top:15px;
  right:-2px;
}

.fa-times-circle:hover {
  cursor: pointer;
}

.inhumansModal {
  width:80%;
  height:98vh;
  left:10%;
}

.inhumansModal .charFlickity img{
 width:120px;
}

.inhumansModal .details {
  width:41%;
}

.inhumansModal .details1 {
  width:55%;
}

.lukeCageModal {
  width:80%;
  height:98vh;
  left:10%;
}

.lukeCageModal .charFlickity img{
 width:110px;
}

.lukeCageModal .details {
  width:41%;
}

.lukeCageModal .details1 {
  width:55%;
}

.modal h3 {
  color:#F30A0A;
}
.charName {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}

.charName H1 {
  display: inline-block;
}

.charImage {
  border: 9px solid white;
  width:100%;
}

.details, .details1 {
  float:left;
}
.details {
  padding:1%;
  padding-left: 2%;
  width:45%;
}

.details1 {
    padding-left: 1%;
    width: 52.5%;
    float:left;
}

p {
  font-family: 'Cutive Mono';
  font-size:1.5rem;
  color:white;
  line-height:2rem;
}

.comics h3{
  text-align: center;
}
h3 {
  font-size:1.8rem;
}

/*************
LOGO
**************/

.logo {
  font-family: 'Oswald', sans-serif;
  background:#F30A0A;
  margin:5vh auto;
  width:97%;
  text-align:center;
  border: 2px solid white;
  padding-bottom:4%;
  padding-right:0.5%;
  -moz-box-shadow: inset 0 0 5px 5px #222;
  -webkit-box-shadow: inset 0 0 5px 5px#222;
  box-shadow: inset 0 0 32px 12px #222;
  transition:3s;
} 


/* span:hover {
  padding-left:2%;
  margin:-20px;
}*/

.logo h1 {
  font-size:12rem;
  color:#f2f2f2;
  margin: 0;
  letter-spacing:-7px;
  padding-right:3%;
  text-shadow: 4px 4px 10px #222, 4px 4px 10px #222, 0px 0px 0px #222;
  transition:3s;
}

.logo h2 {
  margin: -5vh auto;
  font-size:4.5rem;
  letter-spacing:24px;
  padding-left:1%;
  padding-top:0.5%;
  color:#fff;

}
.logo h3 {
  letter-spacing: 35px;
  font-size: 2.5rem;
  padding-top: 2%;
  padding-left:1%;
  margin-top:-0.1%;
  margin-bottom:-30px;
  text-shadow:4px 4px 10px #222, 4px 4px     10px #222, 0px 0px 0px #222;
}

.comics h3 {
  font-size: 2.5rem;
  margin:0;
  padding:1%;
  color:white;
}

.logo:hover h2, .logo:hover h3, .logo:hover h1, .logo:hover {
  color:#fff;
  box-shadow:none;
  text-shadow:none;
  text-shadow:0;
  color:white;
}

.logo:hover h3, .logo:hover h2,  .logo:hover h1 span{
  visibility:hidden;
  transition:0s;
}

@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:300');

.heroes.shimmer{
    /* styling stuff */
    color: rgba(34, 34, 34, 0.1);
}
.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear,left top,right top,from(#FFF),to(#FFF),color-stop(.5,#222));
  background: -moz-gradient(linear,left top,right top,from(#FFF),to(#FFF),color-stop(.5,#222));
  background: gradient(linear,left top,right top,from(#FFF),to(#FFF),color-stop(.5,#222));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #FFF;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}